body{
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsla(240, 67%, 50%, 0.64);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(268, 87%, 12%);
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(159, 14%, 56%);
    color: white;
    

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
.operator-btn{
    background-color: hsla(296, 100%, 45%, 0.758);
}
.operator-btn:hover{
    background-color: hsl(296, 100%, 55%);
}
.operator-btn:active{
    background-color: hsl(296, 100%, 65%);
}
